.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  background-color: #ffffff;
}

.chat-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.chat-welcome {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
}
