:root {
  --color-title-high: #568a35;
  --color-title-medium: #7cb153;
  --color-title-low: #a6cf7a;
  --color-body: #595959;

  --boder-line: #e6edf0;
  --gray-background: #f8fafb;
}

html {
  width: 100vw;
  height: 100vh;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

html,
body,
button,
input,
textarea,
select {
  font-family: 'GMarketSans';
}

* {
  box-sizing: border-box;
}

body,
#root {
  width: 100%;
  height: 100%;
}

